# Ignore old version of the application
/src/old/

# Compiled Python files
**/__pycache__/
*.pyc
*.pyo

# Ignore everything in /data/usa/
/data/usa/*

# Don't ignore the directories themselves
!/data/usa/*/

# Ignore all files in each city's directory
/data/usa/*/*

# Don't ignore neighbourhoods.geojson in each city's directory
!/data/usa/*/neighbourhoods.geojson

# Local history
.history/

# IDE settings
.vscode/

# Streamlit secrets
/.streamlit/secrets.toml